$lightGreen: #b9e7e7;
$lightBrown: #f1e6dd;

.app {
    display: flex;
    justify-content: center;
    .container {
        width: 70%;
        height: 100vh;
        .link {
            text-decoration: none;
            color: inherit;
        }
        //LOGIN & REGISTER
        .auth {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $lightGreen;

            h1 {
                font-size: 20px;
                color: teal;
                margin-bottom: 20px;
            }

            form {
                display: flex;
                flex-direction: column;
                padding: 50px;
                background-color: white;
                width: 200px;
                gap: 20px;
            }

            input {
                padding: 10px;
                border: none;
                border-bottom: 1px solid gray;
            }

            button {
                padding: 10px;
                border: none;
                background-color: teal;
                cursor: pointer;
                color: white;
            }

            p {
                font-size: 12px;
                color: red;
                text-align: center;
            }
            span {
                font-size: 12px;
                text-align: center;
            }
        }

        //NAVBAR
        .navbar {
            .container {
                padding: 10px 0px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .logo {
                    img {
                        width: 120px;
                        border-radius: 50%;
                    }
                }
                .links {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    h6 {
                        font-size: 16px;
                        font-weight: 100;
                    }

                    span {
                        cursor: pointer;
                        font-weight: 400;
                    }

                    .write {
                        background-color: $lightGreen;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 400;
                        border: 1px solid white;

                        &:hover {
                            color: teal;
                            background-color: white;
                            border: 1px solid teal;
                        }
                    }
                }
            }
        }

        //NAVBARBACKEND

        .navbarBackend {
            .st-color {
                background-color: rgb(0, 0, 255);
            }
            .st-move {
                transform: translate(-300px, 0);
                .st-button {
                    position: relative;
                    left: 55px;
                }
            }

            .st-menu {
                // transform: translate(100px, 50px);
                box-sizing: border-box;
                left: 0;
                width: 300px;
                height: 100%;
                position: fixed;
                background-color: #eee;
                z-index: 100;
                // visibility: hidden;
                .icon {
                    display: flex;
                    .title {
                        flex: 7;
                        color: #555;
                        text-align: center;
                        padding: 20px 0px;
                    }
                    .st-button {
                        flex: 1;
                        align-self: center;
                        cursor: pointer;
                        position: relative;
                        right: 5px;
                    }
                }

                a {
                    display: block;
                    text-decoration: none;
                    font-size: 18px;
                    padding: 15px 30px;
                    color: #333;
                    &:hover {
                        background-color: #ddd;
                        color: black;
                    }
                }

                .bt-1 {
                    font-size: 18px;
                    padding: 15px 30px;
                    cursor: pointer;
                    &:hover {
                        background-color: #ddd;
                        color: black;
                    }
                }
            }

            .hidecat {
                display: none;
            }

            ul {
                padding: 0;
                li {
                    list-style: none;
                }
            }
        }

        //FOOTER

        footer {
            margin-top: 100px;
            padding: 20px;
            background-color: $lightGreen;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            // img {
            //     height: 50px;
            // }
        }

        //HOME

        .home {
            .posts {
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 150px;

                .post {
                    display: flex;
                    gap: 100px;

                    &:nth-child(2n + 1) {
                        flex-direction: row-reverse;
                    }

                    .img {
                        flex: 2;
                        position: relative;

                        &::after {
                            content: '';
                            background-color: $lightGreen;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 20px;
                            left: -20px;
                            z-index: -1;
                        }

                        img {
                            width: 100%;
                            max-height: 400px;
                            object-fit: cover;
                        }
                    }

                    .content {
                        flex: 3;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        h1 {
                            font-size: 48px;
                        }

                        p {
                            font-size: 18px;
                        }

                        button {
                            width: max-content;
                            padding: 10px 20px;
                            border: none;
                            cursor: pointer;
                            background-color: white;
                            border: 1px solid teal;
                            color: teal;

                            &:hover {
                                border: 1px solid white;
                                background-color: $lightGreen;
                                color: black;
                            }
                        }
                    }
                }
            }
        }

        //SINGLE
        .single {
            display: flex;
            gap: 50px;

            .content {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 30px;
                img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }

                .user {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 14px;

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    span {
                        font-weight: bolder;
                    }

                    .edit {
                        display: flex;
                        gap: 5px;
                        img {
                            width: 20px;
                            height: 20px;
                            cursor: pointer;
                        }
                    }
                }

                h1 {
                    font-style: 42px;
                    color: #333;
                }

                p {
                    text-align: justify;
                    line-height: 30px;
                }
            }

            .menu {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 25px;

                h1 {
                    font-size: 20px;
                    color: #555;
                }

                .post {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }

                img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }

                h2 {
                    color: #555;
                }

                button {
                    width: max-content;
                    color: teal;
                    border: 1px solid teal;
                    padding: 7.5px 15px;
                    cursor: pointer;
                    background-color: white;

                    &:hover {
                        border: 1px solid white;
                        background-color: $lightGreen;
                        color: black;
                    }
                }
            }
        }

        //WRITE

        .add {
            margin-top: 20px;
            display: flex;
            gap: 20px;

            .content {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 20px;

                input {
                    padding: 10px;
                    border: 1px solid lightgray;
                }

                .editorContainer {
                    height: 300px;
                    // border: 1px solid lightgray;
                    // overflow: scroll;

                    .editor {
                        height: 100%;
                        border: none;
                    }
                }
            }

            .menu {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .item {
                    border: 1px solid lightgray;
                    padding: 10px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: 14px;
                    color: #555;
                    align-items: flex-start;

                    h1 {
                        font-size: 20px;
                    }

                    .file {
                        text-decoration: underline;
                        cursor: pointer;
                    }

                    .buttons {
                        //display: flex;
                        //justify-content: space-around;

                        :first-child {
                            cursor: pointer;
                            background-color: white;
                            color: teal;
                            border: 1px solid teal;
                            padding: 3px 5px;
                            margin-right: 5px;
                        }

                        :last-child {
                            cursor: pointer;
                            background-color: teal;
                            color: white;
                            border: 1px solid teal;
                            padding: 3px 5px;
                        }
                    }

                    .cat {
                        display: flex;
                        align-items: center;
                        gap: 2px;
                        color: teal;
                    }
                }
            }
        }

        //User
        .userbackend {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 75px;
            height: 100vh;
            input {
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-size: 16px;
                outline-color: #3182ce;
            }

            .submit {
                cursor: pointer;
            }
        }

        //Post
        .postbackend {
            margin-top: 30px;
            height: 100vh;
            table,
            tr,
            th,
            td {
                border: 1px solid #333;
                border-collapse: collapse;
                padding: 5px;
                text-align: center;
            }

            img {
                width: 200px;
                height: 100px;
            }
        }

        //WriteBackend

        .writebackend {
            margin-top: 75px;
            height: 100vh;
            .title {
                display: flex;
                margin-top: 10px;
            }

            #title {
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-size: 16px;
                outline-color: #3182ce;
                width: 100%;
                // #title:focus {
                //     border: 1px solid #3182ce;
                // }
            }

            .categories {
                display: flex;
                margin-top: 10px;
                .cat {
                    margin-right: 5px;
                }
            }

            .states {
                margin-top: 10px;
                display: flex;
                .stus {
                    margin-right: 5px;
                }
            }

            .upload {
                margin-top: 10px;
            }

            .rti--container {
                box-sizing: border-box;
                width: 100%;
                // max-width: 400px;
                margin-top: 10px;
            }

            .rti--input {
                width: 100%;
                // max-width: 140px;
            }

            .editorContainer {
                margin-top: 10px;
                .ql-container.ql-snow {
                    height: auto;
                }
                .ql-editor {
                    height: 400px;
                    overflow-y: scroll;
                }
            }

            #btn_OKY {
                margin-top: 10px;
                width: 80px;
                height: 40px;
                cursor: pointer;
                padding: 5px;
                border: 1px solid lightgray;

                &:hover {
                    background-color: lightgray;
                    border: 1px solid #bbb;
                }
            }
        }

        //category

        .category {
            margin-top: 75px;
            .container {
                width: 100%;
                h2 {
                    letter-spacing: 3px;
                    color: #555;
                }
                .serach {
                    margin-top: 10px;
                    display: flex;
                    gap: 5px;

                    input {
                        padding: 8px;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        font-size: 16px;
                        outline-color: #3182ce;
                    }

                    button {
                        padding: 8px;
                        font-size: 16px;
                        border: 1px solid #777;
                        border-radius: 2px;
                        &:hover {
                            background-color: #ddd;
                            cursor: pointer;
                        }
                    }

                    a {
                        text-decoration: none;
                        color: #000;
                        background-color: #eee;
                        border: 1px solid #777;
                        padding: 8px;
                        border-radius: 2px;
                        margin: auto 0;
                        &:hover {
                            background-color: #ddd;
                        }
                    }
                }

                .showdata {
                    margin-top: 15px;

                    table,
                    th,
                    tr,
                    td {
                        border: 1px solid #333;
                        border-collapse: collapse;
                        padding: 5px;
                    }

                    a {
                        text-decoration: none;
                        margin: 5px;
                        border: 1px solid #333;
                        background-color: #eee;
                        color: #000;
                        &:hover {
                            background-color: #ddd;
                        }
                    }
                }
            }
        }

        .categoryedit {
            .container {
                margin-top: 75px;
                width: 100%;
                h2 {
                    letter-spacing: 3px;
                    color: #555;
                }
                .showdata {
                    margin-top: 10px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    input {
                        padding: 8px;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        font-size: 16px;
                        outline-color: #3182ce;
                    }
                }
                button {
                    display: inline-block;
                    margin: 5px 5px 5px 0;
                    padding: 5px;
                    font-size: 16px;
                    &:hover {
                        cursor: pointer;
                    }
                }

                a {
                    text-decoration: none;
                    color: #3182ce;
                }
            }
        }
    }
}
